<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="c:\MURATEC_Mini_Unit\Nlog\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="mylogdir" value="c:\Muratec\log"/>
	<variable name="myargument" value=""/>
	<variable name="mydevicetype" value=""/>
	<variable name="mydeviceid" value="01"/>
	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>

		<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->


		<target xsi:type="File"
		  name="ProcessLog"
		  layout="${longdate} [${level}][${callsite}:${callsite-linenumber}] ${message}${onexception:inner=${exception:format=ToString}}"
		  encoding="utf-8"
		  fileName="${var:mylogdir}/${processname}/${date:format=yyyyMMdd}.log"
		  archiveFileName="${var:mylogdir}/ProcessLog/${processname}${var:myargument}.{#}.log"
		  archiveNumbering="Date"
		  archiveEvery="Day"
		  archiveDateFormat="yyyyMMdd"
		  maxArchiveFiles="7"
            />
	
	</targets>

	<rules>
		<!-- add your logging rules here -->
		<!-- 定義log要有幾份，用什麼格式，格式定義再tragerts 用name抓取-->
		<logger name="Process" minlevel="Debug" writeTo="ProcessLog" />
	</rules>
</nlog>
